<?xml version="1.0" ?>
<model>
    <name>My Robot</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Peter Varshavsky</name>
        <email>pvarsh@gmail.com</email>
    </author>
    <description>Following tutorial from https://classic.gazebosim.org/tutorials?tut=build_robot&cat=build_robot</description>
</model>
