<?xml version="1.0" ?>
<model>
    <name>Submission building</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Peter Varshavsky</name>
        <email>pvarsh@gmail.com</email>
    </author>
    <description>Building model for Gazebo course submission</description>
</model>
